<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890176304594-4jguthsrje8u6ugivei727346ht8j319.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890176304594-4jguthsrje8u6ugivei727346ht8j319</string>
	<key>API_KEY</key>
	<string>AIzaSyAlRVW3GpwfJPTv3YMsOR976MJTz-AmMY4</string>
	<key>GCM_SENDER_ID</key>
	<string>890176304594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.infiniterain.SentenceBaseApp</string>
	<key>PROJECT_ID</key>
	<string>sentence-base</string>
	<key>STORAGE_BUCKET</key>
	<string>sentence-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890176304594:ios:baef59d9faa1dcddcfc40b</string>
</dict>
</plist>